
<ul>
     {{#each this}}
    <li class="country__item" data-alpha3Code="{{alpha3Code}}">
        <i><img src="{{flag}}" width="40px" heigth="40px"></i>
        {{name}} - {{region}}
    </li>
    {{/each}} 
</ul>