@media (max-width: 940px) {
  .header__title {
    @include fz-lh(70px, 100px);
    margin-bottom: 40px;
  }
  .header__firstText {
    @include fz-lh(40px, 60px);
  }
  .nav {
    margin-bottom: 50px;
  }
  .menuMobile__button {
    display: block;
  }
  .menu {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
  }
  .top {
    padding: 38px 30px 230px;
  }
  .cont__item:not(:last-child) {
    margin-bottom: 90px;
  }
  .team {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    &__list {
      margin: 0 auto;
    }
  }
}
@media (max-width: 768px) {
  .header__title {
    @include fz-lh(50px, 80px);
    margin-bottom: 40px;
  }
  .header__firstText {
    @include fz-lh(30px, 50px);
  }
  .top {
    padding-bottom: 50px !important;
  }
  .footer {
    & .container {
      -webkit-box-orient: vertical;
      -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
      flex-direction: column-reverse;
    }
    & .form {
      margin-bottom: 20px;
    }
  }
}
@media (min-width: 941px) {
  .menuMobile {
    display: none !important;
  }
  .menu {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
}
