// BASE TEXT
$bff: "Roboto", sans-serif;
$bfw: 400;
$bbc: #ffffff;
$bct: #fce38a;

// TEXT
$ffmon: "Montserrat", sans-serif;
$ffrob: 'Roboto', sans-serif;

// BACKGROUND TOP
$bgimg: "../images/background.png";
$bgimg2x: "../images/background@2x.png";
$bggc1: rgba(243, 129, 129, 0.8);
$bggc2: rgba(252, 227, 138, 0.8);




