* {
  padding: 0px;
  margin: 0px;
}
.wrapper {
  color: #999999;
  font-family: "Roboto";
  font-weight: 400;
  width: 1200px;
  margin: auto;
  font-size: 15px;
  background-color: #ffffff;
  padding-top: 38px;
}
a {
  text-decoration: none;
}
li {
  list-style-type: none;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 105px;
  font-family: Montserrat;
  font-weight: 500;
}
.nav ul {
  display: flex;
  padding: 0px;
  margin: 0px;
}
.nav li {
  margin-right: 50px;
  text-transform: uppercase;
}
.nav li:last-child {
  margin: 0;
}
.nav a {
  padding: 5px 0px;
  color: #95e1d3;
  font-size: 14px;
  line-height: 11px;
}
.nav a:hover {
  color: #f38181;
  border-bottom: 2px solid #f38181;
}
.logo {
  font-weight: 300;
  font-size: 30px;
  color: #95e1d3;
  line-height: 14px;
  font-weight: 700;
  text-transform: none;
  border: none;
}
.content {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 90px;
  justify-content: space-around;
}
.content li {
  line-height: 24px;
  width: 380px;
}
.content li:not(:nth-last-child(-n + 3)) {
  margin-bottom: 90px;
}
.content li p::first-line {
  margin-bottom: 5px;
  text-transform: uppercase;
  color: #000000;
}
.content li::before {
  content: "";
  width: 32px;
  height: 32px;
  float: left;
  display: inline-block;
  margin: 10px 30px 30px 30px;
  background-image: url("../img/icons/clock.png");
}
.content li:nth-child(1)::before {
  background-image: url("../img/icons/clock.png");
}
.content li:nth-child(2)::before {
  background-image: url("../img/icons/web.png");
}
.content li:nth-child(3)::before {
  background-image: url("../img/icons/computer.png");
}
.content li:nth-child(4)::before {
  background-image: url("../img/icons/book.png");
}
.content li:nth-child(5)::before {
  background-image: url("../img/icons/home.png");
}
.content li:nth-child(6)::before {
  background-image: url("../img/icons/img.png");
}
.title {
  font-size: 30px;
  font-weight: 700;
  font-family: Montserrat;
  text-align: center;
  width: 100%;
  text-transform: uppercase;
  color: #000000;
}
.title p {
  font-size: 24px;
  font-family: Kaushan Script;
  font-weight: 400;
  text-transform: none;
  margin-bottom: 10px;
}
.title::after {
  width: 60px;
  border: 1px solid #f38181;
  display: block;
  content: "";
  margin: 35px auto 55px auto;
}
.title-text {
  text-align: center;
  margin-bottom: 80px;
  font-size: 16px;
  line-height: 29px;
}

.socials {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  width: 380px;
  height: 470px;
  z-index: 2;
  opacity: 0;
  background: linear-gradient(
    to bottom right,
    rgba(252, 227, 138, 0.9),
    rgba(156, 98, 98, 0.9)
  );
  /* top: -10px; */
  /* left: -10px; */
}
.socials a {
  height: 57px;
  width: 57px;
  background-color: #fce38a;
  background-position: center center;
  background-repeat: no-repeat;
  border-right: 1px solid #f9bd87;
}
.socials a:hover {
  background-color: #95e1d3;
  border-right: 1px solid #b9bcb3;
}
.socials a:nth-child(1) {
  background-image: url("../img/icons/facebook.png");
}
.socials a:nth-child(2) {
  background-image: url("../img/icons/twitter.png");
}
.socials a:nth-child(3) {
  background-image: url("../img/icons/pinterest.png");
}
.socials a:nth-child(4) {
  background-image: url("../img/icons/instagram.png");
  border: 0px;
}

.team {
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin-bottom: 90px;
}

@keyframes AnImg {
  from {
    top: 0px;
    left: 0px;
  }
  to {
    top: -10px;
    left: -10px;
  }
}
@keyframes AnSoc {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.team li:hover > .img {
  animation-name: AnImg;
  animation-duration: 1s;
  animation-direction: alternate;
  animation-fill-mode: forwards;
}
.team li:hover > .socials {
  animation-name: AnSoc;
  animation-duration: 1s;
  animation-direction: alternate;
  animation-fill-mode: forwards;
}
/* .team img:hover > {
  animation-name: animationName;
  animation-duration: 1s;
  animation-direction: alternate;
  animation-fill-mode: forwards;
} */
.team p {
  margin: 5px;
}
.team img {
  margin-bottom: 20px;
  position: relative;
  z-index: 1;
}
.team .name {
  color: #000000;
  font-size: 14px;
  font-family: Montserrat;
  text-transform: uppercase;
}
.team .prof {
  font-family: Roboto;
  font-style: italic;
  font-size: 15px;
}

footer {
  width: 100%;
  padding: 20px 0px;
  text-align: left;
  font-family: Open Sans;
  font-size: 16px;
  border-top: 2px solid #e5e5e5;
  color: #000000;
}
footer span {
  color: #f38181;
}
.clearfix::after {
  display: table;
  content: "";
  clear: both;
}
