.wrapper {
  color: #626262;
  font-family: "Playfair Display", serif;
  font-weight: 400;
  width: 904px;
  margin: auto;
  padding-top: 77px;
  font-size: 14px;
}

li {
  display: inline-block;
}
ul,
li,
h2,
p {
  margin: 0;
  padding: 0;
}

.pidpus {
  font-family: Myriad Pro;
  text-transform: uppercase;
  color: #b4ad9e;
  font-size: 14px;
  margin-bottom: 22px;
}

.menu {
  margin: auto;
  text-align: center;
  margin-bottom: 103px;
}
.menu li {
  margin-right: 120px;
}
.menu li:last-child {
  margin-right: 0;
}
.menu a {
  color: #626262;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 14px;
}

.menu a:hover {
  color: #03a9f4;
}
.stat {
  margin-bottom: 60px;
}
.stat li {
  display: inline-block;
  width: 420px;
  margin: 0 60px 135px 0;
}
.stat li:nth-child(even) {
  margin: 0 0 135px 0;
}
.stat li:nth-child(n + 5) {
  margin-bottom: 0px;
}
.stat img {
  margin-bottom: 20px;
}
.Text1 {
  font-size: 30px;
  font-weight: 400;
  margin-bottom: 25px;
}

.Text2 {
  font-size: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -moz-box;
  -moz-box-orient: vertical;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  line-clamp: 3;
  box-orient: vertical;
}

button {
  font-size: 20px;
  color: #626262;
  font-family: "Playfair Display", serif;
  font-weight: Regular;
  padding: 15px 25px;
  margin-bottom: 70px;
  background-color: white;
  border: 1px solid #626262;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
}
