.wrapper {
  color: #626262;
  font-family: PlayfairDisplay Regular;
  width: 905px;
  margin: auto;
}

li {
  display: inline-block;
}
ul,
li {
  margin: 0;
  padding: 0;
}

.stat {
  display: inline-block;
  width: 420px;
  margin: 0 60px 135px 0;
}
.stat:nth-child(even) {
  margin: 0 0 135px 0;
}

.pidpus {
  font-family: "Myriad Pro";
  text-transform: uppercase;
  color: #b4ad9e;
  font-size: 14px;
}

.menu {
  margin: auto;
  padding: 60px;
  text-align: center;
}
.menu li {
  margin-right: 120px;
}
.menu li:last-child {
  margin-right: 0;
}
.menu a {
  color: #626262;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 14px;
}

.menu a:hover {
  color: #03a9f4;
}

.Text1 {
  font-size: 30px;
}

.Text2 {
  font-size: 14px;

  overflow: hidden;
  text-overflow: ellipsis;
  display: -moz-box;
  -moz-box-orient: vertical;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  line-clamp: 3;
  box-orient: vertical;
}

button {
  font-size: 20px;
  color: #626262;
  font-family: PlayfairDisplay Regular;
  padding: 15px 25px;
  background-color: white;
  border: 1px solid #626262;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
  margin-bottom: 20px;
}
