/* ============= BASE ========== */
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

*::after,
*::before {
  box-sizing: border-box;
}

@font-face {
  font-family: "Droid Serif"; /* назва одна */
  src: url("../fonts/droidserifitalic.woff2"); /* різні файли */
  font-weight: 400; /* різна вага/жирність */
  font-style: italic;
}
@font-face {
  font-family: "Roboto Slab"; /* назва одна */
  src: url("../fonts/Robotoslabregular.woff2"); /* різні файли */
  font-weight: 400; /* різна вага/жирність */
  font-style: Regular;
}
@font-face {
  font-family: "Wisdom Script"; /* назва одна */
  src: url("../fonts/WisdomScriptAI.woff2"); /* різні файли */
  font-weight: 400; /* різна вага/жирність */
  font-style: normal;
}
a {
  text-decoration: none;
}
li {
  list-style-type: none;
}

/* ============= BODY ========== */
.wrapper {
  color: #999999;
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 14px;
  background-color: #ffffff;
  padding-top: 38px;
}

.nav,
.content,
.forma div {
  max-width: 930px;
  margin: auto;
}
header {
  margin-bottom: 100px;
}

/* ============= NAV ========== */
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: Montserrat;
  font-weight: 500;
}
.nav-ul {
  display: flex;
  padding: 0px;
  margin: 0px;
}
.nav-li {
  margin-right: 50px;
  text-transform: uppercase;
}
.nav-li:last-child {
  margin: 0;
}
.nav-li-a {
  padding: 5px 0px;
  color: #000000;
  font-size: 14px;
  line-height: 11px;
  transition: color 0.2s linear;
}
.nav-li-a:hover {
  color: #fed136;
}

/* ============= LOGO ========== */
.logo {
  font-family: "Wisdom Script";
  font-size: 26px;
  color: #fed136;
  line-height: 14px;
  font-weight: 400;
  text-transform: none;
  border: none;
}

/* ============= CONTENT ========== */
.main {
  margin-bottom: 65px;
}
.content {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 90px;
  justify-content: space-around;
  text-align: center;
  font-family: "Roboto Slab";
  font-size: 14px;
  line-height: 25px;
}
.cont-li {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  justify-content: center;
  width: 280px;
  margin-right: 25px;
}
.cont-li:last-child {
  margin: 0px;
}
.cont-text::first-line {
  margin-bottom: 15px;
  color: #000000;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 700;
}
.basket,
.laptop,
.locked {
  content: "";
  width: 40px;
  height: 40px;
  display: inline-block;
  padding: 35px;
  background-position: center center;
  background-repeat: no-repeat;
  border: 3px solid #fed136;
  border-radius: 40px;
  margin-bottom: 20px;
}
.basket {
  background-image: url("../img/icons/Basket.png");
}
.laptop {
  background-image: url("../img/icons/Laptop.png");
}
.locked {
  background-image: url("../img/icons/Locked.png");
}

/* ============= TEXT ========== */
.title {
  font-size: 16px;
  font-weight: 400;
  font-family: "Droid Serif";
  font-style: italic;
  line-height: 50px;
  text-align: center;
  width: 100%;
  color: #a3a3a3;
  margin-bottom: 81px;
}
.title p {
  font-size: 40px;
  font-family: Montserrat;
  font-weight: 700;
  text-transform: uppercase;
  font-style: normal;
  color: #000000;
}

/* ============= FORM ========== */
.send-meesage {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 100px 0px;
  text-align: center;
  font-family: Open Sans;
  font-size: 16px;
  color: #000000;
  background: #222222 url("../img/bg.png") right center no-repeat;
}
.send-meesage .title p {
  color: #ffffff;
}

.getform {
  display: flex;
  justify-content: space-between;
}
.getform > div {
  display: flex;
  flex-direction: column;
}

.getform-name,
.getform-email,
.getform-sub,
.getform-text {
  padding: 15px 20px;
  border: 0;
  color: #c0c0c0;
  font-size: 14px;
  font-family: Montserrat;
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 4px;
  margin: 0 20px 20px 0;
  width: 415px;
}
.getform-text {
  min-height: 180px;
}
.getform-btn {
  border-radius: 3px;
  border: 0;
  background-color: rgb(254, 209, 54);
  padding: 20px 40px;
  font-size: 18px;
  font-family: "Montserrat";
  color: rgb(255, 255, 255);
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.2;
  text-align: center;
}
