* {
  padding: 0px;
  margin: 0px;
}
@font-face {
  font-family: "Droid Serif"; /* назва одна */
  src: url("../fonts/droidserifitalic.woff2"); /* різні файли */
  font-weight: 400; /* різна вага/жирність */
  font-style: italic;
}
@font-face {
  font-family: "Roboto Slab"; /* назва одна */
  src: url("../fonts/Robotoslabregular.woff2"); /* різні файли */
  font-weight: 400; /* різна вага/жирність */
  font-style: Regular;
}
@font-face {
  font-family: "Wisdom Script"; /* назва одна */
  src: url("../fonts/WisdomScriptAI.woff2"); /* різні файли */
  font-weight: 400; /* різна вага/жирність */
  font-style: normal;
}
.wrapper {
  color: #999999;
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 14px;
  background-color: #ffffff;
  padding-top: 38px;
}
.nav,
.content,
.forma div {
  width: 930px;
  margin: auto;
}
a {
  text-decoration: none;
}
li {
  list-style-type: none;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 100px;
  font-family: Montserrat;
  font-weight: 500;
}
.nav ul {
  display: flex;
  padding: 0px;
  margin: 0px;
}
.nav li {
  margin-right: 50px;
  text-transform: uppercase;
}
.nav li:last-child {
  margin: 0;
}
.nav a {
  padding: 5px 0px;
  color: #000000;
  font-size: 14px;
  line-height: 11px;
  transition: color 0.2s linear;
}
.nav a:hover {
  color: #fed136;
}
.logo {
  font-family: "Wisdom Script";
  font-size: 26px;
  color: #fed136;
  line-height: 14px;
  font-weight: 400;
  text-transform: none;
  border: none;
}
.content {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 90px;
  justify-content: space-around;
  text-align: center;
  font-family: "Roboto Slab";
  font-size: 14px;
  line-height: 25px;
}
.content li {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  justify-content: center;
  width: 280px;
  margin-right: 25px;
}
.content li:last-child {
  margin: 0px;
}
.content li p::first-line {
  margin-bottom: 15px;
  color: #000000;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 700;
}
.content li i {
  content: "";
  width: 40px;
  height: 40px;
  display: inline-block;
  padding: 15px;
  background-position: center center;
  background-repeat: no-repeat;
  border: 3px solid #fed136;
  border-radius: 40px;
  margin-bottom: 20px;
}
.content .basket {
  background-image: url("../img/icons/Basket.png");
}
.content .laptop {
  background-image: url("../img/icons/Laptop.png");
}
.content .locked {
  background-image: url("../img/icons/Locked.png");
}
.title {
  font-size: 16px;
  font-weight: 400;
  font-family: "Droid Serif";
  font-style: italic;
  line-height: 50px;
  text-align: center;
  width: 100%;
  color: #a3a3a3;
  margin-bottom: 65px;
}
.title p {
  font-size: 40px;
  font-family: Montserrat;
  font-weight: 700;
  text-transform: uppercase;
  font-style: normal;
  color: #000000;
}

.forma {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 100px 0px;
  text-align: left;
  font-family: Open Sans;
  font-size: 16px;
  color: #000000;
  background: #222222 url("../img/bg.png") right center no-repeat;
}
.forma .title p {
  color: #ffffff;
}
/* .contactus {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
} */
.contactus input,
.contactus textarea {
  padding: 15px 20px;
  border: 0;
  color: #c0c0c0;
  font-size: 14px;
  font-family: Montserrat;
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 4px;
  margin: 0 20px 20px 0;
}
.contactus input[type="name"],
.contactus input[type="email"],
.contactus input[type="text"],
.contactus textarea {
  width: 415px;
}
.button {
  text-align: center;
}
.button input {
  min-width: 50px;
  color: #ffffff;
  background-color: #fed136;
}
.footer button {
  padding: 10px 25px;
  background-color: #95e1d3;
  border: 1px solid #95e1d3;
  font-size: 14px;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: bold;
}
