@media (max-width: 800px) {
  .top {
    padding: 38px 38px 0;
  }
  main {
    padding: 0 40px;
  }
}

@media (max-width: 450px) {
  .logo-two {
    display: block;
  }
  .logo-one {
    display: none;
  }
  .nav {
    display: block;
    margin-bottom: 105px;
  }
  .nav ul {
    display: flex;
    justify-content: center;
  }
  .title p {
    font-size: 30px;
  }
  .btn-find-two a {
    padding: 10px 70px;
  }
}
