@media (min-width: 768px) {
  .container {
    max-width: 492px;
  }
  .content {
    display: flex;
    flex-wrap: wrap;
  }
  .cont-li {
    margin: 0;
  }
  .cont-li:nth-child(-n + 2) {
    margin-bottom: 10px;
  }
  .cont-li:nth-child(odd) {
    margin-right: 10px;
  }
  .logo-one {
    display: inline-block;
  }
  .logo-two {
    display: none;
  }
  .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto 150px;
  }
  .title2 {
    margin-bottom: 20px;
  }
}

@media (min-width: 940px) {
  .container {
    max-width: 940px;
  }
  .nav,
  .promo {
    max-width: 940px;
  }
  .cont-li:not(:last-child) {
    margin: 0 10px 0 0;
  }
}
