* {
  margin: 0;
  padding: 0;
}

body {
  color: #626262;
  font-family: Open Sans Regular;
  background: #e9f0fd url("../img/background.png") no-repeat 0px 62px;
  background-size: contain;
  width: 100%;
}
.header {
  width: 100%;
  background-color: white;
  position: relative;
  margin: auto;
}
.nav,
.content {
  width: 1110px;
  margin: auto;
}
li {
  display: inline-block;
  list-style-type: none;
}
ul {
  padding: 0px;
}
.nav {
  text-align: right;
  display: inline-block;
  padding: 20px 0 20px 0;
}

.nav a {
  margin: 0 20px 0 0;
  color: #0f0101;
  font-family: Open Sans;
  font-weight: bolder;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 14px;
}
.nav a:last-child {
  margin: 0;
}
.nav a:hover {
  color: #1abc9c;
}
.nav a:focus {
  color: #7fd9c7;
}
.logo {
  content: "";
  display: block;
  height: 21px;
  width: 78px;
  float: left;
  background: white url("../img/logo.png") no-repeat center;
}
.slider {
  height: 400px;
  width: 100%;
  padding: 3em 0;
  text-align: left;
  position: relative;
  margin: auto;
  text-transform: uppercase;
}
.slider li:nth-child(2) {
  width: 770px;
  font-size: 60px;
  font-family: Roboto;
  font-weight: bolder;
  color: white;
  padding: 130px 60px 130px 60px;
}
.slider li span {
  font-size: 24px;
  font-family: Roboto;
  font-weight: light;
  color: white;
}
.slider li:first-child {
  width: 105px;
  height: 105px;
  background: #1abc9c url("../img/icons/left.png") no-repeat center center;
  margin: auto;
}
.slider li:last-child {
  width: 105px;
  height: 105px;
  background: #1abc9c url("../img/icons/right.png") no-repeat center center;
}
.slider li:first-child:hover,
.slider li:last-child:hover {
  background-color: rgba(26, 188, 156, 0.8);
}
.title {
  font-size: 48px;
  font-family: Roboto;
  font-weight: bolder;
  display: inline-block;
  text-align: center;
  width: 100%;
  margin-top: 112px;
  text-transform: uppercase;
}
.title::selection {
  color: #7fd9c7;
}
.line {
  width: 160px;
  border: 3px solid #1abc9c;
  display: block;
  margin: 50px auto 50px auto;
}

.stat li {
  display: list-item;
  width: 255px;
  margin-right: 30px;
  float: left;
}
.stat li:nth-child(4) {
  margin: 0;
}
.stat li a::before {
  content: "";
  display: block;
  height: 282px;
  width: 255px;
  background-color: white;
  background-position: center;
  background-repeat: no-repeat;
}
.s1::before {
  background-image: url("../img/stat/1.png");
}
.s2::before {
  background-image: url("../img/stat/2.png");
}
.s3::before {
  background-image: url("../img/stat/3.png");
}
.s4::before {
  background-image: url("../img/stat/4.png");
}

.Text1 {
  width: 180px;
  padding: 10px;
  font-size: 18px;
  background-color: #323232;
  color: white;
  float: left;
  font-family: Roboto Black;
  text-transform: uppercase;
  text-decoration: none;
}

.Text2 {
  width: 35px;
  padding: 10px;
  text-align: center;
  font-size: 18px;
  float: right;
  background-color: #8c8c8c;
  color: white;
  font-family: Roboto Black;
  text-transform: uppercase;
  text-decoration: none;
}
.stat a:hover > .Text2 {
  background-color: #7fd9c7;
}
.stat a:hover > .Text1 {
  background-color: #1abc9c;
}
