body {
  max-width: 1110px;
  margin: 0 auto;
}
* {
  margin: 0;
  padding: 0;
}
.task1,
.task2,
.task3,
.task4,
.task5,
.task6,
.task7,
.task8 {
  display: none;
}
li {
  list-style: none;
}

/* ============= task 3 ============ */
.task3 {
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.task3 li {
  margin: 10px 0;
}
.images {
  width: 300px;
  height: auto;
  transition: all 0.2s linear;
}
.images:hover {
  transform: scale(1.2);
}
/* ============= task 7 ============ */

.validation-input {
  border: 3px solid #bdbdbd;
}

.validation-input.valid {
  border-color: #4caf50;
}

.validation-input.invalid {
  border-color: #f44336;
}

/* ============= task 8 ============ */

#boxes div {
  background-color: black;
  width: 30px;
  height: 30px;
  /* color: #ffffff; */
}
