body {
    max-width: 1110px;
    margin: 0 auto;
}
* {
    margin: 0;
    padding: 0;
}
ul, .counter {
    display: none;
}
li {
    list-style: none;
}
.gallery {
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.gallery li {
    margin: 10px 0;
}
.images {
    width: 300px;
    height: auto;
    transition: all .2s linear;
    
}
.images:hover {
    transform: scale(1.2);
}
