body {
  color: #626262;
  font-family: Open Sans Regular;
  width: 1160px;
  margin: auto;
}

li {
  display: inline-block;
}
ul {
  padding: 0px;
}

.menu .logo {
  width: 78px;
  display: inline-block;
  float: left;
  text-align: left;
  margin: 0 0 0 15px;
}
.menu {
  width: 100%;
  float: right;
  text-align: right;
  display: inline-block;
  margin: 20px 0 100px 0;
}

.menu a {
  margin: 0px 20px 0px 20px;
  color: #0f0101;
  font-family: Open Sans Bold;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 14px;
}

.menu a:hover {
  color: #1abc9c;
}

.title {
  font-size: 48px;
  font-style: Black;
  text-align: center;
  margin: 0 0 40px 0;
}
.line {
  width: 160px;
  border: 3px solid #1abc9c;
  display: block;
  margin: 0 auto 0 auto;
}
.stat {
  margin: 100px 0 100px 0;
}
.stat li {
  display: inline-block;
  width: 255px;
  margin: 15px;
}
.Text1 {
  width: 180px;
  padding: 10px;
  margin-top: -5px;
  font-size: 18px;
  background-color: #323232;
  color: white;
  float: left;
  font-family: Roboto Black;
  text-transform: uppercase;
  text-decoration: none;
}

.Text2 {
  width: 35px;
  padding: 10px;
  margin-top: -5px;
  text-align: center;
  font-size: 18px;
  float: right;
  background-color: #8c8c8c;
  color: white;
  font-family: Roboto Black;
  text-transform: uppercase;
  text-decoration: none;
}
.stat a:hover > .Text2 {
  background-color: #7fd9c7;
}
.stat a:hover > .Text1 {
  background-color: #1abc9c;
}
.news {
  margin-top: 100px;
}
.news li {
  width: 345px;
  margin: 15px;
}
.news .line {
  margin: 10px auto 20px 0;
}
.news .Text3 {
  font-family: Open Sans Semibold;
  font-size: 18px;
}
.news .Text4 {
  font-size: 14px;
}
button {
  display: block;
  font-size: 20px;
  color: white;
  font-family: PlayfairDisplay Regular;
  padding: 15px 25px;
  background-color: #4ec6ab;
  border: 1px solid #4ec6ab;
  border-radius: 3px;
  margin: 10px 0 0 0;
}
button:hover {
  background-color: #7fd9c7;
  border: 1px solid #7fd9c7;
}
